.nav {
    grid-area: nav;
    background-color: blanchedalmond;
    padding: 20px;
}

.item
{
    color: blue;
    text-decoration: none;
}

.item_act {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}